* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

body{
    background-color: hsl(217, 25%, 90%);
}

.container{
    width: 250px;
    margin: 100px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.container  img {
    width: 100%;
    border-radius: 5px;
}

.container  h3 {
    font-weight: 700;
    margin: 10px;
}

.container p {
    font-size: 12px;
    color: hsl(210, 15%, 79%);
    margin: 0 10px 20px;
}

@media (max-width: 375px) {
    .container {
        width: 80%;
    }
}